@model IEnumerable<GuiaApp.Model.User>

@{
    ViewBag.Title = "Usuário";
}

<ol class="breadcrumb breadcrumb-border">
    <li>@Html.ActionLink("Home", "Index")</li>
    <li class="active">Usuário</li>
</ol>
    
<form class="form-horizontal" role="form" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">Filtrar usuários</div>
        <div class="panel-body">


            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">E-mail / Nome</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="search" name="search" value="@ViewBag.search">
                </div>
            </div>

        </div>

        <div class="panel-footer">
            <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-search"></span> Consultar</button>
            <a href="@Url.Action("Create")" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Criar usuário</a>
        </div>
    </div>
</form>

<div class="panel panel-default space">
    <div class="panel-heading">Usuários</div>
    
    <div class="panel-padding ">
        <table class="display" id="grid">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
 
                        <td class="grid-option">
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        <td class="grid-option">
                            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
    @section scripts{
        <script>
            var oTable = $('#grid').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "aoColumns": [null, null, { "bSortable": false }, { "bSortable": false }]
            });
        </script>
    }
