@model GuiaApp.Model.Local

@{
    ViewBag.Title = "Dletar local";
}

<ol class="breadcrumb breadcrumb-border">
    <li>@Html.ActionLink("Local", "Index")</li>
    <li class="active">Deletar usuário</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">Dados</div>

    <div class=" panel-padding2">
        <div class="alert alert-warning">
            Tem certeza de que deseja excluir este registro?
        </div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.City.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Menu.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Menu.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telephone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Site)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Site)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Latitude)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Latitude)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Longitude)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Longitude)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

        </dl>
    </div>
    <div class="panel-footer">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <a href="@Url.Action("Index")" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>

            <button type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-ok"></span> Deletar
            </button>
        }
    </div>
</div>
